.dropdown {
  width: 234px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;

  h2 {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
    color: #021526;
  }
}

.inpWidth {
  width: 41px;
  height: 42px;
  text-align: center;
}
