.dropdown {
  width: 731px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 24px;
}

.regionsList {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;

  .checkboxWrapper {
    cursor: pointer;
    .text {
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 400;
    }
  }
}
