@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGO", sans-serif;
}

body {
  width: 100%;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnText {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 500;
}

.rentTag {
  padding: 6px 10px;

  .rentTagText {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.04em;
    text-align: center;
  }
}

.w-full {
  width: 100%;
}
