.customRadio {
  input[type="radio"] {
    cursor: pointer;
    accent-color: #000;
  }

  .customRadioText {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #021526;
  }
}
